* {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}


.modal-buttons__item {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #c14639;
  min-width: 100px;
  color: white;
}